<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eskils Eckliga Burgare</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
    <div class ="Menu header">
        <h1>Welcome to Junghahns Junkfood!</h1>
    </div>
    <div class = "Burgers">
        <section>
            <h2>Our burgers</h2>
            <p>These are our currently available burgers</p>
        </section>
    </div>
    <div class = "SiteInfo">
        <section>
            <h3>Customer information</h3>
            <p>This is where you provide necessary information</p>
        </section>
    </div>
    <div class ="footer">
        &#169; Erik Junghahn 2020 - Hypothetical burgers
    </div>
    </main>
</body>
</html>