<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jenkas Junkfood</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8"/>
</head>
<body>
    <main>
    <div class ="Menu header">
        <h1>Welcome to Jenkas Junkfood!</h1>
    </div>
    <div class = "Burgers">
        <section id = "Products">
            <h2>Our burgers</h2>
            <p>These are our currently available burgers</p>
            <table>
                <thead>
                    <tr>
                        <th>The good burger</th>
                        <th>The bad burger</th>
                        <th>The ugly burger</th>
                    </tr>
                </thead>
                <tbody>

                        <td>
                            <tr>

                                <td>
                                    <img src="https://f.nordiskemedier.dk/2vnzrf9miqy7i9xb.jpg" alt="Good burger" title="The good burger" width="200">
                                        <ul>

                                            <li>750 Kcal</li>
                                            <li>
                                                <section class ="allergy">
                                                <p>Contains<span id="Gluten"> Gluten</span></p>
                                                </section>
                                            </li>
                                            <li>
                                                <section class ="allergy">
                                                <p>Contains<span id="Meat"> Meat</span></p>
                                                </section>
                                            </li>
                                        </ul>
                                </td>
                                <td>
                                <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/63/f9/03/yuk-cheap-and-nasty-burger.jpg" alt="Bad burger" title="The bad burger" width="200" height = "162">
                                    <ul>
                                        <li>600 kcal</li>

                                        <li>
                                            <section class ="allergy">
                                            <p>Contains<span id="Gluten"> Gluten</span></p>
                                            </section>
                                        </li>
                                        <li>
                                            <section class ="allergy">
                                            <p>Contains<span id="Lactose"> Lactose</span></p>
                                            </section>
                                        </li>

                                    </ul>
                                </td>
                                <td>
                                    <img src="https://image.shutterstock.com/image-photo/ugly-fat-sandwich-260nw-53890693.jpg" alt="Ugly burger" title="The ugly burger" width="200" height = "162">
                                    <ul>
                                        <li>800 kcal</li>

                                        <li>
                                            <section class ="allergy">
                                                <p>Contains<span id="Salad"> Salad</span></p>
                                            </section>

                                        </li>
                                        <li>
                                            <section class ="allergy">
                                                <p>Contains<span id="Meat"> Meat</span></p>
                                            </section>
                                        </li>
                                    </ul>
                                </td>



                            </tr>
                        </td>

                </tbody>
            </table>
        </section>

    </div>
    <div class = "SiteInfo">
        <section id="Contact">
            <h3>Customer information</h3>
            <p>This is where you provide necessary information</p>
                <form>
                    <h3>Delivery Information:</h3>
                    <p>
                        <label for="Full name">Full name</label><br>
                        <input type="text" id="Full name" name="fn" required="required" placeholder="Full name"/>
                    </p>
                    <p>
                        <label for="E-mail">E-mail</label><br>
                        <input type="text" id="E-mail" name="fn" required="required" placeholder="E-mail"/>
                    </p>
                    <p>
                        <label for="Street">Street</label><br>
                        <input type="text" id="Street" name="fn" required="required" placeholder="Street"/>
                    </p>
                    <p>
                        <label for="House">House</label><br>
                        <input type="number" id="House" name="fn" required="required" placeholder="House number"/>
                    </p>
                    <p>
                        <label for="Payment options">Payment Options</label><br>
                        <select id="Payment options" name="Payment">
                            <option selected="selected">Credit card</option>
                            <option>On arrival</option>
                            <option>PayPal</option>
                        </select>
                    </p>
                    <p>
                        <label>Gender</label><br>

                            <input type="radio" id="Male" name="gb" required="required" value="Male"/>
                            <label for="Male">Male</label><br>

                            <input type="radio" id="Female" name="gb" required="required" value="Female"/>
                            <label for="Female">Female</label><br>

                            <input type="radio" id="Non-Binary" name="gb" required="required" value="Non-Binary"/>
                            <label for="Non-Binary">Non-binary</label><br>

                            <input type="radio" id="Undisclosed" name="gb" required="required" checked="checked" value="Undisclosed"/>
                            <label for ="Undisclosed">Undisclosed</label><br>
                    </p>

                </form>
            <p>
                <button type="submit"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Checkmark_green.svg/1180px-Checkmark_green.svg.png" alt="Send order" width="10" height="10"> send Info</button>
            </p>

        </section>
    </div>
    <div class ="footer">
        &#169; Erik Junghahn 2020 - Hypothetical burgers
    </div>
    </main>
</body>
</html>