body {
    font-family: arial;
    font-size: 15px;

}

#Products{
    color: white;
    padding: 7px;
    background-color: black;
}
#Contact {
    background-color: white;
    color: black;
}

#Meat {
    font-weight: bold;

}
#Gluten{
    font-weight: bold;

}
#Lactose {
    font-weight: bold;

}
#Salad{
    font-weight: bold;

}